<html style="background-color: rgb(195, 227, 244);">
  <head>
    <link rel="stylesheet" href="..\static\css\index.css">
    <title>HOME</title>
  </head>
<body >
  <CENTER><H1>IBM BUDGET IMAGE</H1></CENTER>
    <p style="margin-top: 100px">{{msg}}</p>
  
  <a href="/upload"><input type="submit" class="btn" id="1" value="UPLOAD"  style = "position:absolute; left:500px; "></a>
 <a href="/display"> <input type="submit" class="btn" id="2" value="DISPLAY"  style = "position:absolute; left:200px; "></a>
 
</html>