<html>
  <head>
    <link rel="stylesheet" href="..\static\css\signup.css">
  </head>
<body>
  <form class="log-in" action="{{url_for('signup')}}" method="post">
    <h1 class="title">Welcome!</h1>
    <input class="input" type="text" autofocus placeholder="username" name="username"/>
    <input class="input" type="password" placeholder="Password" name="password"/>
    <input class="input" type="text" autofocus placeholder="email" name="email"/>
    <input class="input" type="text" autofocus placeholder="roll no" name="roll_no">
    <button class="input submit" type="submit">Sign UP</button>

  </form>

 </body>
</html>
