<html>
  <head>
    <link rel="stylesheet" href="..\static\css\home.css">
    <title>HOME</title>
  </head>
<body>
    <p style="margin-top: 100px">{{msg}}</p>
  <CENTER><H1 style="color: red">WELCOME TO PERSONAL EXPENSE TRACKER</H1></CENTER>
  <a href="/login"><input type="submit" class="btn" id="1" value="Login"  style = "position:absolute; right:500px; top:50px"></a>
 <a href="/signup"> <input type="submit" class="btn" id="2" value="signup"  style = "position:absolute; right:200px; top:50px"></a>
 </body>
</html>
